# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# Emacs backups
*~

# Build files
building_cmake_projects/build
building_makefile_projects/main
building_autotools_projects/.deps/
building_autotools_projects/AUTHORS
building_autotools_projects/COPYING
building_autotools_projects/ChangeLog
building_autotools_projects/INSTALL
building_autotools_projects/Makefile
building_autotools_projects/Makefile.in
building_autotools_projects/NEWS
building_autotools_projects/aclocal.m4
building_autotools_projects/autom4te.cache/
building_autotools_projects/compile
building_autotools_projects/config.log
building_autotools_projects/config.status
building_autotools_projects/configure
building_autotools_projects/depcomp
building_autotools_projects/install-sh
building_autotools_projects/main
building_autotools_projects/missing
